<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div ng-controller="ParentController">
    {{user.name}}
    <h1>Parent Controller</h1>
    <input type="button" ng-click="clickMe()" value="Click Parent Controller to Broadcast">
    <span ng-show="parentData">parentData--->{{parentData}}</span>
    <span ng-show="parentsOwnData">parentsOwnData---->{{parentsOwnData}}</span>
    <span ng-show="secondChildDatainParent">secondChildDatainParent---->{{secondChildDatainParent}}</span>
    <div ng-controller="ChildController">
        <h1>Child Controller</h1>
        <input type="button" ng-click="clickMe()" value="Click Child Controller to Emit">
        <span ng-show="childData">childData---->{{childData}}</span>
        <span ng-show="firstChildData">firstChildData--->{{firstChildData}}</span>
        <span ng-show="childEventsOwnData">childEventsOwnData----->{{childEventsOwnData}}</span>
        <span ng-show="secondChildDatainFirst">secondChildDatainFirst---->{{secondChildDatainFirst}}</span>
    </div>
    <div ng-controller="SecondChildController">
        <h1>Second Child Controller</h1>
        <input type="button" ng-click="clickMe()" value="Click Second Child Controller to Broadcast on $rootScope">
       <span ng-show="secondChildData">secondChildData---->{{secondChildData}}</span>
        <input type="button" ng-click="clickToEmit()" value="Click Second Child Controller to Emit on $rootScope">
    </div>
</div>
<div ng-controller="PromiseController">

    <button ng-click="callingFunction()">Click Me!!!!!</button>
    <span>{{result}}</span>
    <span>{{failure}}</span>

</div>

<script src="angular.min.js"></script>
<script src="mainCtrl.js"></script>
</body>
</html>